@font-face {
  font-family: 'NeueMontreal-Regular';
  src: local('NeueMontreal-Regular'),
    url(../fonts/NeueMontreal/NeueMontreal-Regular.otf) format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'SangBleuVersailles-RegularItalic';
  src: local('SangBleuVersailles-RegularItalic'),
    url(../fonts/SangBleu/SangBleuVersailles-RegularItalic.otf)
      format('opentype');
  font-display: swap;
}
